.sidebar-container {
    width: 19.32vw;
    height: 79vh;
}

.scaled-slide-container {
    width: 1037px;
    height: 45px;

    line-height: 0;
    transform: scale(0.26);
    margin-left: -25.3vw;
}

@media screen and (min-width: 1441px) {
    .scaled-slide-container {
        transform: scale(0.26);
        margin-left: -18.3vw;
    }
}

@media screen and (min-width: 2560px) {
    .scaled-slide-container {
        transform: scale(0.26);
        margin-left: -13.5vw;
    }
}

.sidebar-element {
    width: 270px;
    height: 184px;
    background-color: #FFF;
}

.sidebar-element--selected {
    background-color: rgba(40, 36, 238, 0.1);
}

.scaled-slide {
    margin-left: 30px;
}

.scaled-slide::before {
    display: block;
    content: '';
    position: absolute;

    top: -24px;
    left: 5px;

    width: 868px;
    height: 634px;
    
    border-style: solid;
    border-width: 8px;
    border-radius: 20px;
    border-color: #272323;
}

.scaled-slide--selected::before {
    border-color: #2824EE;
}

.scaled-slide-container::marker {
    margin-right: 100px;
    font-size: 50px;
    font-family: Montserrat;
    font-weight: 600;
    
}

.slide-list {
    margin-top: 11px;
    max-height: 78vh;
    scrollbar-width: 10px;
    overflow-y: auto;
    width: 19.32vw;
    padding-left: 0;
}

.slide-list::-webkit-scrollbar {
    width: 10px;
    height: 500px;
}

.slide-list::-webkit-scrollbar-track {
    background: none
}

.slide-list::-webkit-scrollbar-thumb {
    background-color: #B2B2B2;
    border-radius: 30px;
}

.slide-list::-webkit-scrollbar-thumb:hover {
    background-color: #2824EE;
}