.slide-container {
    width: 100vw;
    height: 79vh;
    background: #ECECEC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideElement {
    list-style-type: none;
}