.slide-container {
    width: 1090px;
    height: 824px;
    background: #ECECEC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideElement {
    list-style-type: none;
}