.slide-container {
    width: 81vw;
    height: 76vh;
    background: #ECECEC;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.slide-container > slide {
    width: 10px;
}

.slideElement {
    list-style-type: none;
}