.drop_down_container {
    width: 135px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 13px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}

.drop_down {
    width: auto;
    height: 35px;

    color: #343434;

    box-sizing: border-box;
    border: 1px solid #343434;
    border-radius: 5px;
    background: center no-repeat none;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 10px;
}

.drop_down:hover {
    cursor: pointer;
}

.drop_down--active {
    border-color: #2824EE;
    color: #2824EE;
}

.drop_down--text_container::after {
    content: url('./icons/arrow.svg');
    width: 11px;
    height: 6px;
    margin-left: 7px;
}

.drop_down--text_container--active::after {
    content: url('./icons/arrow-active.svg');
}

.drop_down_options_container {
    width: auto;
    height: auto;
    padding: 7px 0;

    background: #FFFFFF;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 35px;
}

.option--figure, .option--image, .option--text {
    width: 135px;
    height: 35px;
    background: none;
    border-radius: 5px;
    padding-left: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option--figure:hover, .option--image:hover, .option--text:hover {
    cursor: pointer;
}

.option--figure::after, .option--image::after {
    content: url('./icons/arrow--left.svg');
    width: 6px;
    height: 11px;
    margin-right: 10px;
}

.option--figure--active, .option--image--active, .option--text:hover {
    background: rgba(40, 36, 238, 0.1);
    color: #2824EE;
}

.option--figure--active::after, .option--image--active::after {
    content: url('./icons/arrow--left-active.svg');
}

.option--figure--types {
    width: auto;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: absolute;
    top: 7px;
    left: 136px;
    display: flex;
}

.option--figure--types--rectangle, .option--figure--types--triangle, .option--figure--types--circle {
    width: 35px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.option--figure--types--rectangle {
    background-image: url('./icons/rectangle.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.option--figure--types--triangle {
    background-image: url('./icons/triangle.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.option--figure--types--circle {
    background-image: url('./icons/circle.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.option--figure--types--rectangle:hover, .option--figure--types--triangle:hover, .option--figure--types--circle:hover {
    cursor: pointer;
    background-color: rgba(40, 36, 238, 0.1);
}

.option--figure--types--rectangle:hover {
    background-image: url('./icons/rectangle-hover.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.option--figure--types--triangle:hover {
    background-image: url('./icons/triangle-hover.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.option--figure--types--circle:hover {
    background-image: url('./icons/circle-hover.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.option--image--types {
    width: auto;
    height: auto;

    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #FFFFFF;

    position: absolute;
    top: 42px;
    left: 136px;
    display: flex;
    flex-direction: column;
}