.input {
    width: 375px;
    height: 46px;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 13px;

    border-color: #343434;

    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
    background: center no-repeat none;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 8px 10px;
}

.input:focus {
    cursor: pointer;
    border-color: #184708;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}