.input {
    width: 375px;
    height: 46px;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 13px;

    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
    background: center no-repeat none;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 8px 10px;
}

.input--focused--false {
    border-color: #343434;
}

.input--focused--true {
    cursor: pointer;
    border-color: #184708;
    background-color: #184708;
}
