.palette {
    width: 220px;

    display: flex;
    flex-wrap: wrap;
}

.paletteElement {
    display: inline;

    width: 20px;
    height: 20px;
    margin: 1px;

    list-style-type: none;
    
    border-radius: 20px;
}

.paletteElement--selected {
    box-shadow: 0px 0px 3px 3px rgba(23, 166, 86, 0.5);
}

.paletteElement:hover {
    cursor: pointer;
}