.button {
    width: auto;
    height: auto;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 11px;

    color: #343434;

    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    background: center no-repeat none;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 8px 10px;
}

.button--style--outline:hover,
.button--style--default:hover {
    cursor: pointer;
    color: #184708;
}

.button--style--default:hover {
    background-color: #EAFFF3;
}

.button--style--outline,
.button--style--drop_down {
    border: 1px solid #343434;
}

.button--style--outline:hover {
    border-color: #184708;
}

.button--style--delete {
    background: center no-repeat url('./icons/delete-default.png');
}

.button--style--delete:hover {
    background: center no-repeat url('./icons/delete-focused.png');
}

.button--style--redo {
    background: center no-repeat url('./icons/redo-default.png');
}

.button--style--redo:hover {
    background: center no-repeat url('./icons/redo-focused.png');
}

.button--style--undo {
    background: center no-repeat url('./icons/undo-default.png');
}

.button--style--undo:hover {
    background: center no-repeat url('./icons/undo-focused.png');
}

.button--style--drop_down:hover {
    cursor: pointer;
}

.button--style--drop_down.button--active {
    border-color: #184708;
    color: #184708;
}

.text_container--style--drop_down.text_container::after {
    content: url('./icons/arrow.png');
    width: 11px;
    height: 6px;
    margin-left: 7px;
}

.text_container--style--drop_down.text_container--active::after {
    content: url('./icons/arrow-active.png');
}

.text_container--style--delete,
.text_container--style--redo,
.text_container--style--undo {
    display: none;
}
