.app {
    width: 99vw;
    height: 99vh;
}

.app-content {
    display: flex;
    flex-direction: column;
}

.pres-view {
    display: flex;
    margin-top: 10px;
}

.preview-container,
.app-content {
    width: inherit;
    height: inherit;
}



.preview-container > .slide-container {
    width: inherit;
    height: inherit;
    background: #202020;
}