.app {
    width: 99vw;
    height: 99vh;
}

.app_content {
    display: flex;
    flex-direction: column;
}

.pres_view {
    display: flex;
    margin-top: 10px;
}

.preview_container,
.app_content {
    width: inherit;
    height: inherit;
}

.preview_container {
    width: inherit;
    height: inherit;
    background: #202020;
    z-index: -1;
}