.app-content {
    display: flex;
    flex-direction: column;
}

.pres-view {
    display: flex;
    margin-top: 10px;
}

.preview-container {
    width: 100vw;
    height: 100vh;
}

.preview-container > .slide-container {
    width: inherit;
    height: inherit;
    background: #202020;
}